<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Resultados</title>
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/ej2.css') }}">
  </head>
  <body>
    <h1>Resultados del Ejercicio 2</h1>
    <ul>
      <li>Número de muestras totales del dataframe: {{ results.total_muestras }}</li>
      <li>Media incidentes con satisfacción &ge; 5: {{ results.media_incidentes }}</li>
      <li>Desviación estándar incidentes con satisfacción &ge; 5: {{ results.std_incidentes }}</li>
      <li>Media del número de incidentes por cliente: {{ results.media_incidentes_cliente }}</li>
      <li>Desviación estándar del número de incidentes por cliente: {{ results.std_incidentes_cliente }}</li>
      <li>Media del número de horas totales realizadas en cada incidente: {{ results.media_horas }}</li>
      <li>Desviación estándar del número de horas totales realizadas en cada incidente: {{ results.std_horas }}</li>
      <li>Valor mínimo de horas realizadas por empleado: {{ results.min_horas }}</li>
      <li>Valor máximo de horas realizadas por empleado: {{ results.max_horas }}</li>
      <li>Valor mínimo del tiempo entre apertura y cierre de incidente (horas): {{ results.min_tiempo }}</li>
      <li>Valor máximo del tiempo entre apertura y cierre de incidente (horas): {{ results.max_tiempo }}</li>
      <li>Valor mínimo del número de incidentes atendidos por empleado: {{ results.min_incidentes }}</li>
      <li>Valor máximo del número de incidentes atendidos por empleado: {{ results.max_incidentes }}</li>
    </ul>
  </body>